*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
input:focus,button:focus{
    outline: 0;
}
body {
    font-size:"Poppins"
}

#chat-window{
    height:670px;
    overflow-y: auto;
}
#output p{
    font-size:15px;
    padding:12px;
    
}
#output p:nth-child(even){
    background-color:#ebfffc;
}

#feedback p {
    font-size:13px;
    padding:12px;
}
#output strong{
    color: #00d1b2;
    
}